*.pch

jucer/Builds
jucer/JuceLibraryCode/ReadMe.txt
jucer/JuceLibraryCode/include_*.*
jucer/JuceLibraryCode/include_*.*
jucer/JuceLibraryCode/BinaryData*.*

data/*.ai

dst
.waf-*
.lock*
build/
*.pyc
.DS_Store
*.autosave

/.vscode/**/*.*
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/c_cpp_properties.json
!/.vscode/vscode.h

/dist/
/*.dmg
